*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-image: url(nature-3082832_960_720.jpg);
    background-position: center;
    background-size: cover;
    height: 110vh;
}

.lcon{
    width: 200px;
    float: left;
    height: 60px;
}
.logo{
    color: rgb(250, 250, 250);
    font-size: 50px;
    font-family: Arial;
    font-weight: bolder;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition:  0.4s ease-in-out;
}

ul li a:hover{
    color: rgb(247, 240, 240);
}


.game{
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    line-height: 1.4;
    color: aliceblue;
    text-align: left;
    background-color: cornflowerblue;
    border: 6px solid black;
    border-radius: 99px;
    padding: 18px 28px;
    width: 100%;
    margin: 20px 0;
}

/* Profile avatar placed at top-right of viewport */
.profile{
    position: fixed !important; /* fixed to viewport so it stays visible */
    right: 60px !important;     /* distance from right edge */
    top: 48px !important;       /* distance from top - increase to move down */
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999 !important;
    margin: 0 !important;
    transform: translateZ(0);
}

.picture{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.picture::after{
    content: "";
    position: absolute;
    width: 184px;
    height: 184px;
    border-radius: 50%;
    border: 6px solid #ffffff; /* white ring */
    box-sizing: border-box;
    pointer-events: none;
}

.picture img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    z-index: 2;
    box-shadow: 0 0 0 6px rgba(0,0,0,0.08);
}

.sage{
    color: #ffffff;
}

