*{
    margin: 0;
    padding: 0;
}

.main{
    width: 100%;
    background-image: url(nature-3082832_960_720.jpg);
    background-position: center;
    background-size: cover;
    height: 110vh;
}

.lcon{
    width: 200px;
    float: left;
    height: 60px;
}
.logo{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family: Arial;
    font-weight: bolder;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 60px;
    margin-top: 27px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition:  0.4s ease-in-out;
}

ul li a:hover{
    color: rgb(255, 0, 0);
}


.game{
    box-sizing: border-box;
    display: block;
    font-size: 14px;
    line-height: 1.4;
    color: aliceblue;
    text-align: left;
    background-color: cornflowerblue;
    border: 6px solid black;
    border-radius: 99px;
    padding: 18px 28px;
    width: 100%;
    margin: 20px 0;
}

/* Profile avatar placed at top-right of viewport */
.profile{
    position: fixed !important; /* fixed to viewport so it stays visible */
    right: 60px !important;     /* distance from right edge */
    top: 48px !important;       /* distance from top - increase to move down */
    width: 220px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99999 !important;
    margin: 0 !important;
    transform: translateZ(0);
}

.picture{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: visible;
}

.picture::after{
    content: "";
    position: absolute;
    width: 184px;
    height: 184px;
    border-radius: 50%;
    border: 6px solid #ffffff; /* white ring */
    box-sizing: border-box;
    pointer-events: none;
}

.picture img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    z-index: 2;
    box-shadow: 0 0 0 6px rgba(0,0,0,0.08);
}

.sage{
    color: #ffffff;
    padding: 10px;
    margin: 20px;
}

.search{
    width: 200px;
    float: right;
    margin-left: 200px;
    padding: 18px;
}

.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height: 30px;
    background: rgb(255, 0, 0) solid;
    border: 1px rgb(255, 166, 0);
    margin-top: 1px;
    color: rgb(235, 0, 0);
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width: 100px;
    height: 40px;
    background: orange;
    border: 2px solid orange;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

